/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #F6F8F9;
}

header {
    height: 4em;
    line-height: 4em;
    background-color: white;
    padding-left: 1em;
    margin-bottom: 2.5em;
}

.container {
    width: 80%;
    background-color: white;
    margin: 0 auto;
}

.nav {
    height: 3em;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: 2px solid #F6F8F9;
    padding-left: 3em;
}
.main {
    width: 80%;
    background-color: white;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding-top: 1em;
    padding-left: 3em;
    margin: 0 auto;
}

ul {
    list-style: none;
}

/* header */

#logo {
    vertical-align: middle;
}

h1 {
    display: inline-block;
    vertical-align: middle;
    font-size: 30px;
    font-weight: bolder;
}