/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Base */

html {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #F6F8F9;
}

header {
    height: 4em;
    line-height: 4em;
    background-color: white;
    padding-left: 1em;
    margin-bottom: 2.5em;
}

.container {
    width: 80%;
    background-color: white;
    margin: 0 auto;
}

.nav {
    height: 3em;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: 2px solid #F6F8F9;
    padding-top: 1em;
    padding-left: 3em;
}
.main {
    width: 80%;
    background-color: white;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding-left: 3em;
    margin: 0 auto;
}


/* header */

#logo {
    vertical-align: middle;
}

h1 {
    display: inline-block;
    vertical-align: middle;
    font-size: 30px;
    font-weight: bolder;
}


/* buttons */

.button {
    padding: 3px 10px;
    border-radius: 5px;
}

.task {
    color: white;
    background-color: #47ADF1;
    border: 1px solid #47ADF1;
}

.section {
    color: lightgray;
    background-color: white;
    border: 1px solid lightgray;
}


/* List */

ul {
    list-style: none;
}

h2 {
    font-size: 20px;
    font-weight: 700;
    padding-top: 1.5em;
}

h2::before {
    content: "";
    display: inline-block;
    background-image: url(../img/arrowdown.png);
    background-size: 15px 15px;
    width: 15px;
    height: 15px;
    margin-right: .2em;
    }


/* Check/cross circles */

.circle {
    display: inline-block;
    width: 1.4em;
    height: 1.4em;
    border: 1px solid;
    border-radius: 50%;
    line-height: 1.4em;
    text-align: center;
    margin-right: 1.5em;
    margin-top: 1em;
}

.check {
    color: #73C8B5;
    border-color: #73C8B5;
    font-size: .7em;
}

.cross {
    color: #EB5E58;
    border-color: #EB5E58;
    font-size: .7em;
}


/* Tag colorati */

.tag {
    color: white;
    font-size: 10px;
    padding: 5px 10px;
    border-radius: 9px;
}

.blu {
    background-color: #47ADF1;
}

.viola {
    background-color: #9C72E4;
}

.turchese {
    background-color: #64C0A9;
}

.arancione {
    background-color: #F29E33;
}

.rosa {
    background-color: #D863A1;
}

.verde {
    background-color: #B0C926;
}